*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: #F4C524;
}

.menu-container {
    /*background-color: violet;*/
    margin: 15% auto;
    width: 70%;
    height: auto;
    text-align: center;
}

.row {
    margin-bottom: 15%;

}

button {
    font-size: 15px;
    width: 220px;
    height: 30px;
    border: #DACFC5;
    border-radius: 15px;
    background-color: #DACFC5;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #F4C524;
    border: #F4C524;
}

img {
    margin-top: 10px;
}

.itempic {
    position: relative;
    top: -375px;
    margin: auto;
    background-color: #F4C524;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.itempic-1 {
    position: relative;
    top: -330px;
    margin: auto;
    background-color: #F4C524;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.coffeepic {
    position: relative;
    top: -375px;
    margin: auto;
    background-color: #F4C524;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.coffeepic img {
    margin-top: 15px;
    border-radius: 100px;
}


.iteminfo {
    margin: 30px auto;
    background-color: #31281F;
    height: 300px;
    width: 250px;
    color: white;
    border-radius: 5%;
}